/* AnimalGallery.scss */
.animal-gallery {
  padding: 2rem;
  text-align: center;

  h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
  }

  .search-input {
      margin-bottom: 1rem;
      padding: 0.5rem;
      font-size: 1rem;
      width: 100%;
      max-width: 300px;
      border: 1px solid #ddd;
      border-radius: 4px;
  }

  .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 1rem;
      justify-content: center; /* Center the grid items */
  }

  .card {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 1rem;
      text-align: center;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      width: 200px; /* Fixed width */
      height: 300px; /* Fixed height */
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      img {
          max-width: 100%;
          height: auto;
          border-radius: 4px;
          max-height: 150px; /* Fixed max height */
          object-fit: cover;
      }

      h2 {
          font-size: 1.2rem;
          margin: 0.5rem 0;
      }

      p {
          font-size: 1rem;
          color: #666;
      }
  }
}
