.app {
    text-align: center;
  
    .home-page,
    .about-us,
    .contact-us {
      margin: 2rem;
    }
  
    .gallery {
      margin: 2rem;
    }
  }

body{
  margin: 0;

  background-color: rgb(231, 231, 231);
}